@font-face {
    font-family: Lato;

    src: url(/fonts/Lato-Heavy.ttf?1cbcbe8a9e03f131de04baf682d4b44f);

    font-weight: bold;
}

@font-face {
    font-family: Lato;

    src: url(/fonts/Lato-Bold.ttf?bb154e8dcbf157f82e9b7dda6a839758);

    font-weight: 700;
}


header {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: 96%;
    min-height: 250px;
    background-position-y: 15px;
}


header .logo img{
    max-width: 225px;
    height: auto;
}


.content {
    position: relative;
    top: -45px;
    height: 500px;
    background-color: #fff;
    border-radius: 50px;
}


.mail-container {
    min-height: 400px;
    background-color: #f0f0f0;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 10px #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mail-container p{
    display: flex;
    justify-content: center;

    font-family: Lato;
}

